alembic==1.13.2
altgraph==0.16.1
annotated-types==0.7.0
anyio==4.4.0
argcomplete==1.10.0
arrow==0.14.4
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
backports.functools-lru-cache==1.5
bcrypt==4.2.0
binaryornot==0.4.4
certifi==2019.3.9
cffi==1.16.0
chardet==3.0.4
click==8.1.7
cookiecutter==1.6.0
coverage==4.5.4
cryptography==43.0.0
dis3==0.1.3
dnspython==2.6.1
dotmap==1.3.8
ecdsa==0.19.0
email_validator==2.2.0
exceptiongroup==1.2.1
fastapi==0.111.0
fastapi-cli==0.0.4
funcsigs==1.0.2
future==0.17.1
greenlet==3.0.3
gunicorn==23.0.0
h11==0.14.0
holidays==0.9.11
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==2.8
Jinja2==3.1.4
jinja2-time==0.2.0
macholib==1.11
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==5.0.0
orjson==3.10.6
passlib==1.7.4
pathlib2==2.3.3
pefile==2019.4.18
pep8==1.7.1
pluggy==0.11.0
poyo==0.5.0
psycopg2==2.8.4
public==2019.4.13
py==1.8.0
pyasn1==0.6.0
pycodestyle==2.5.0
pycparser==2.22
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
Pygments==2.18.0
PyInstaller==3.4
PyScaffold==2.5
pytest==4.5.0
pytest-cov==2.8.1
pytest-runner==5.1
python-dateutil==2.8.0
python-dotenv==1.0.1
python-gitlab==1.13.0
python-jose==3.3.0
python-multipart==0.0.9
python-slugify==3.0.2
PyYAML==5.1
requests==2.22.0
rich==13.7.1
rope==0.14.0
rsa==4.9
scandir==1.10.0
sh==1.12.14
shellingham==1.5.4
six==1.12.0
sniffio==1.3.1
SQLAlchemy==2.0.31
starlette==0.37.2
stringcase==1.2.0
tabulate==0.8.3
temp==1.0.2
termcolor==1.1.0
text-unidecode==1.2
typer==0.12.3
typing==3.6.6
typing_extensions==4.12.2
ujson==5.10.0
urllib3==1.25.2
uvicorn==0.30.1
uvloop==0.19.0
watchfiles==0.22.0
wcwidth==0.1.7
websockets==12.0
